
#nav-menu {      
    margin: 0;
    padding: 0;
    padding-top: 0.3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#nav-menu > li {    
    margin: 0.5rem 0.1rem;
}

#nav-menu  > li > a {
	text-decoration: none;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
    display: block;
    color: inherit;
	color: #34495e;
	font-size: .99em;
	text-align: center;
	text-transform: uppercase;
}

#nav-menu  > li > a:hover {
	color: #718daa;
}

#nav-menu-close-button {
    display: none;
}

@media (max-width: 769px) {
    #nav-menu {        
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 260px;
        background-color: azure;
        position: fixed;
        height: 100vh;
        z-index: 3;
    }

    #nav-menu-close-button {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
    }
}